name: Publish crate

on:
  push:
    tags:
      - "v*.*.*"
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  publish:
    name: Publish Crate
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Dry run publish crate
        if: ${{ !startsWith(github.ref, 'refs/tags/v') }}
        run: cargo publish --dry-run

      - name: Publish crate(version:${{ github.ref_name }})
        if: ${{ startsWith(github.ref, 'refs/tags/v') }}
        run: cargo publish
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
